/* CSS ALL PAGES + INDEX*/

@font-face {
    font-family: 'valorantFont';
    src: url("ressources/fonts/Valorant_Font.ttf");
   }
   
@font-face {
    font-family: 'mainFont';
    src: url("ressources/fonts/Stomper_Regular.otf");
}

@keyframes titleSlide {
    0%   {letter-spacing: 6px;}
    30%  {letter-spacing: 30px;}
    85% {letter-spacing: 20px;}
    100% {letter-spacing: 6px;}
}

@keyframes navbarSlide {
    0%   {letter-spacing: 5px;}
    100% {letter-spacing: 10px;}
}

h1{
    text-align: center;
    font-family: 'valorantFont';
    letter-spacing: 6px;
    color: white;
    padding: 10px 12px;
    margin: 0;
    animation: titleSlide 3s;
}

body {
    font-family: 'mainFont';
    height: 100%;
    background-image: url("ressources/images/bg_site.jpg");
    scroll-behavior: smooth;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

video {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 100%;
    top: 0;
    bottom: 0;
}


.info_site {
    text-align: center;
    display: block;
    color: white;
    font-size: 30px;
}

.top_header{
    background-color: rgb(43, 40, 40);
    background: rgb(43, 40, 40);
    padding: 0;
    margin: 0;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    font-size: 25px;
    letter-spacing: 5px;
  }

#navbar li a:hover {
    background-color:rgb(32, 30, 30);
    color: red;
    animation: navbarSlide 1s;
    animation-fill-mode: forwards;
}

.sticky {
    position: fixed; z-index: 1;
    top: 0;
    width: 100%;
  }
  
.top_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 40, 40);
}
  
.top_header li {
    float: left;
    width: 20%;
}
 

.top_header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    animation: transform .5s;
    animation: color 3s;
}


/* CSS AGENTS PAGE*/


@keyframes agentZoom {
    0%{transform: scale(1);}
    100%{transform: scale(1.1);}
}


#agents{
    color: white;
    max-width: 100%;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-flex;
}

#agents li {
    text-align: center;
    font-size: 35px;
}

.agent-div:hover img{
    animation: agentZoom 1s forwards;
}

.agent-div:active img{
    animation: agentZoom 1s forwards;
}

#agents p {
    text-align: center;
    font-size: 25px;
    
}

#agents p:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#agents img {
    height: 450px;
    position:relative;
}


/* CODE CSS NEWS PAGE*/


.info_news {
    color: white;
    text-align: center;
    font-size: 30px;
}

.twitter-timeline {
    margin: 60px;
}


/* CODE CSS learn_skills PAGE*/


.video_pro {
    margin-left: 30%;
    margin-top: 10%;
    position: fixed;
}